:root {
  --some-variable: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  justify-content: center;
}

.Link {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
  transition: all 0.4s ease-in;
}

.Link:hover {
  border-bottom: 1px solid rgba(100, 100, 100);
}

.Form {
  margin: 0.3rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Form__group {
  width: 100%;
  margin-bottom: 0.8rem;
}

.Form__validation {
  margin-bottom: 0.5rem;
}

.Form__text-input,
.Form__password-input {
  font-family: inherit;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: none;
  padding: 0.45rem;
  font-size: 0.9rem;
  width: 100%;
  /* margin-bottom: 1.4rem; */
}

.Form__text-input:focus,
.Form__password-input:focus {
  outline: none;
  border: 1px solid black;
}

.Form__button-input {
  color: white;
  width: 100%;
}
