.Button {
  background-color: black;
  border: none;
  font-family: inherit;
  /* font-size: 0.9rem; */
  cursor: pointer;
  padding: 0.45rem;
  transition: all 0.2s ease-out;
}

.Button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.Button__text {
  color: white;
}
