.Footer {
  text-align: center;
  line-height: 1rem;
}

.Footer__text {
  margin: 10px 0;
  font-size: 1rem;
}

.Footer__icon {
  font-size: 1.4rem;
  color: #000000;
  transition: 0.3s;
}

.Footer__icon:hover {
  color: #757575;
}
