.Reviews {
  max-width: 60%;
  min-width: 55%;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.Reviews__title {
  font-family: babas-neue, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.Reviews__subtitle {
  margin-top: 1.2rem;
  margin-bottom: 0.2rem;
}

.Reviews__review {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: minmax(3rem, auto);
  grid-template-areas:
    "username rating"
    ". body";
  align-items: center;
  padding: 1.8rem 0;
  border-bottom: 1px dotted black;
}

.Reviews__username {
  display: flex;
  font-family: babas-neue, sans-serif;
  font-size: 1rem;
  padding-right: 0.5rem;
  grid-area: username;
}

.Reviews__rating {
  grid-area: rating;
}

.Reviews__body {
  grid-area: body;
}

.Reviews__button {
  padding: 1rem 0;
}

@media (max-width: 1300px) {
  .Reviews__review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  .Reviews__rating {
    margin-bottom: 0.2rem;
  }
}
