.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted black;
  height: 50px;
}

.NavBar__title {
  padding: 15px 6px;
  font-size: 2rem;
  font-family: babas-neue, sans-serif;
  margin: 0;
}

.NavBar__title-link {
  text-decoration: none;
  color: black;
}

.NavBar__hamburger {
  margin-top: 3px;
  margin-right: 10px;
  z-index: 1;
  width: 40px;
  height: 50%;
  cursor: pointer;
}

.NavBar__hamburger-line {
  background-color: black;
  position: relative;
  right: -5px;
  transition: all 0.3s ease;
}

.NavBar__hamburger-line:nth-child(1) {
  top: 5px;
  width: 28px;
  height: 2px;
}

.NavBar__hamburger-line:nth-child(2) {
  top: 8px;
  width: 28px;
  height: 2px;
}

.NavBar__hamburger-line:nth-child(3) {
  top: 11px;
  width: 28px;
  height: 2px;
}

.NavBar__hamburger-line.open {
  background-color: white;
}
.NavBar__hamburger-line:nth-child(1).open {
  top: 10px;
  transform: rotate(45deg);
}

.NavBar__hamburger-line:nth-child(3).open {
  top: 6px;
  transform: rotate(45deg);
}

.NavBar__hamburger-line:nth-child(2).open {
  transform: rotate(135deg);
}
