.NavBar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  border-bottom: 2px solid grey;
}

.NavBar__title {
  padding: 15px 0;
  font-size: 2.5rem;
  margin: 0;
}

.NavBar__title-link {
  color: #fff;
  text-decoration: none;
}

.NavBar__hamburger {
  z-index: 2;
}
